.index_area {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}

.index_btn {
    background: #000;
    color: #fff;
    z-index: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}

.index_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.index_btn:hover {
    color: #000;
}

.index_btn:hover::before {
    transform: translateX(0);
}

.index_btn:active {
    top: 2px;
}

.index_btn.clicked {
    background-color: #ffffff;
    color: #000;
}

.index_btn.clicked::before {
    display: none;
}